<style>
  body {
    background-color: black;
    font-family: monospace;
    color: green;
  }
  #orange-text {
    color: orange;
  }
  .pink-text {
    color: pink;
  }
  .blue-text {
    color: blue;
  }
</style>
/* I added in line style to try to make our h1 element white and looks that this method overrode even the id declaration. Thats awesome. */
<h1 style="color: white;" id="orange-text" class="pink-text blue-text">Hello World!</h1>
