/* instead of using color words in our elements I replaced with their correct hex codes. Looks like is a simple theory behind and digit o is the lowest number and represents a complete absence of color and digit F is the highest and represents the maximum possible brightness. we can create over 16 million orher colors. */
<style>
  .red-text {
    color: #FF0000;
  }
  .green-text {
    color: #00FF00;
  }
  .dodger-blue-text {
    color: #1E90FF;
  }
  .orange-text {
    color: 	#FFA500;
  }
</style>

<h1 class="red-text">I am red!</h1>

<h1 class="green-text">I am green!</h1>

<h1 class="dodger-blue-text">I am dodger blue!</h1>

<h1 class="orange-text">I am orange!</h1>
